WF-03-STATUS-TRACKER.json
{
  "name": "WF-03-STATUS-TRACKER",
  "nodes": [
    {
      "id": "c3d4e5f6-0001-0001-0001-000000000001",
      "name": "WhatsApp Trigger (statuses)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-statuses",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-0002-0002-0002-000000000002",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [200, 160],
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "IF: ¿Es evento statuses?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [200, 420],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.statuses }}",
              "operator": { "type": "exists" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c3d4e5f6-0004-0004-0004-000000000004",
      "name": "Code: Extraer status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 340],
      "parameters": {
        "jsCode": "const statuses  = $json.body.entry[0].changes[0].value.statuses[0];\nconst message_id = statuses.id;\nconst status     = statuses.status;       // sent | delivered | read | failed\nconst ts         = statuses.timestamp;\nconst error_msg  = statuses.errors?.[0]?.title || null;\n\nreturn [{ json: { message_id, status, ts, error_msg } }];"
      }
    },
    {
      "id": "c3d4e5f6-0005-0005-0005-000000000005",
      "name": "PG: UPDATE delivery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE encuestas.envios_wa\nSET\n  estado_entrega = $1,\n  ts_delivered = CASE WHEN $1 = 'delivered' THEN to_timestamp($2::bigint) ELSE ts_delivered END,\n  ts_read      = CASE WHEN $1 = 'read'      THEN to_timestamp($2::bigint) ELSE ts_read      END\nWHERE wa_message_id = $3",
        "additionalFields": {
          "queryParams": "={{ [$json.status, $json.ts, $json.message_id].join(',') }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "PG_CREDENTIAL_ID",
          "name": "PostgreSQL Vemare"
        }
      }
    },
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000006",
      "name": "IF: ¿status failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [920, 340],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Code: Extraer status').item.json.status }}",
              "rightValue": "failed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c3d4e5f6-0007-0007-0007-000000000007",
      "name": "PG: UPDATE reintentos/error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1160, 240],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE encuestas.envios_wa\nSET\n  estado_envio = CASE\n    WHEN intentos < 3 THEN 'REINTENTO'\n    ELSE 'ERROR_DEFINITIVO'\n  END,\n  intentos  = intentos + 1,\n  error_msg = $1\nWHERE wa_message_id = $2\nRETURNING id, intentos, estado_envio, id_campana",
        "additionalFields": {
          "queryParams": "={{ [$('Code: Extraer status').item.json.error_msg, $('Code: Extraer status').item.json.message_id].join(',') }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "PG_CREDENTIAL_ID",
          "name": "PostgreSQL Vemare"
        }
      }
    },
    {
      "id": "c3d4e5f6-0008-0008-0008-000000000008",
      "name": "IF: ¿ERROR_DEFINITIVO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1400, 240],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.estado_envio }}",
              "rightValue": "ERROR_DEFINITIVO",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c3d4e5f6-0009-0009-0009-000000000009",
      "name": "PG: Get monday_item_id",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1640, 160],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_externo_collector FROM encuestas.campanas_wa WHERE id = $1",
        "additionalFields": {
          "queryParams": "={{ [$json.id_campana].join(',') }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "PG_CREDENTIAL_ID",
          "name": "PostgreSQL Vemare"
        }
      }
    },
    {
      "id": "c3d4e5f6-0010-0010-0010-000000000010",
      "name": "HTTP: monday update ERROR definitivo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 160],
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "API-Version", "value": "2024-10" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ query: `mutation { create_update(item_id: \"${$json.id_externo_collector}\", body: \"ERROR_DEFINITIVO en envío: ${$('Code: Extraer status').item.json.error_msg}\") { id } }` }) }}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "MONDAY_CREDENTIAL_ID",
          "name": "monday.com API"
        }
      }
    },
    {
      "id": "c3d4e5f6-0011-0011-0011-000000000011",
      "name": "NoOp: no es status",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [440, 500],
      "parameters": {}
    }
  ],
  "connections": {
    "WhatsApp Trigger (statuses)": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }],
        [{ "node": "IF: ¿Es evento statuses?", "type": "main", "index": 0 }]
      ]
    },
    "IF: ¿Es evento statuses?": {
      "main": [
        [{ "node": "Code: Extraer status", "type": "main", "index": 0 }],
        [{ "node": "NoOp: no es status", "type": "main", "index": 0 }]
      ]
    },
    "Code: Extraer status": {
      "main": [[{ "node": "PG: UPDATE delivery", "type": "main", "index": 0 }]]
    },
    "PG: UPDATE delivery": {
      "main": [[{ "node": "IF: ¿status failed?", "type": "main", "index": 0 }]]
    },
    "IF: ¿status failed?": {
      "main": [
        [{ "node": "PG: UPDATE reintentos/error", "type": "main", "index": 0 }],
        []
      ]
    },
    "PG: UPDATE reintentos/error": {
      "main": [[{ "node": "IF: ¿ERROR_DEFINITIVO?", "type": "main", "index": 0 }]]
    },
    "IF: ¿ERROR_DEFINITIVO?": {
      "main": [
        [{ "node": "PG: Get monday_item_id", "type": "main", "index": 0 }],
        []
      ]
    },
    "PG: Get monday_item_id": {
      "main": [[{ "node": "HTTP: monday update ERROR definitivo", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [{ "name": "WA-STATUSES" }]
}
