WF-SYNC-CONTACTOS-v13.json
{
  "name": "00 Mailjet - Importación BBDD a Postgres (v13)",
  "nodes": [
    {
      "parameters": {
        "content": "## 🗺️ Arquitectura general\n\n**Fase 1** — Delta sync de contactos:\nDetecta cambios por actividad email (`LastActivityAt`) + contactos nuevos.\nSync completa automática: domingos · `force_full=true` · contactos nuevos.\n\n**Fase 2** — Listas Mailjet:\n- Delta ≤ 500 contactos → `/contact/{id}/getcontactslists` (rápido)\n- Delta > 500 o sync completa → paginación `/listrecipient` completa\n\n**Retry:** todos los HTTP 5×5s · batchInterval 1500ms\n**Limit:** 1000 registros/request\n\n**v13:** Upsert de contactos en Fase 1 (sin listas). Fase 2 solo hace UPDATE de listas_mailjet.\nElimina el problema de acceso cross-branch tras Wait 30s.",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [17968, 2448],
      "id": "049c0470-3dee-46e5-8baf-a597be28f23b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS pg_count, MAX(last_sync) AS last_sync FROM contactos.contactos",
        "options": {}
      },
      "id": "edd79ed0-7cdf-4777-bf11-7a685a005546",
      "name": "Postgres GET MAX last_sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [20112, 2880],
      "credentials": {
        "postgres": {
          "id": "kF6UjQ8hguq0ltLd",
          "name": "Postgres - n8n-whatsapp"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convierte MAX(last_sync) de Postgres a Unix timestamp.\n// Incluye pg_count para detectar contactos nuevos en Mailjet.\n// Fuerza sync completa (ts=0):\n//   - Los domingos (garantía de consistencia semanal)\n//   - Si force_full=true en el Manual Trigger (forzado manual)\nconst raw     = $input.first().json.last_sync;\nconst pgCount = Number($input.first().json.pg_count ?? 0);\n\nconst esDomingoSync = new Date().getDay() === 0;\n\n// Ejecución manual → sync completa por defecto.\n// Motivo: los cambios manuales de propiedades en Mailjet NO actualizan LastActivityAt,\n// así que la delta nunca los detectaría. Si quieres forzar delta en manual,\n// pasa force_full=false explícitamente en el trigger.\nlet forceFull = false;\ntry {\n  const manualNode = $('When clicking \\'Execute workflow\\'');\n  if (manualNode.isExecuted) {\n    // Por defecto true en manual; false solo si se pasa explícitamente\n    forceFull = Boolean(manualNode.first()?.json?.force_full ?? true);\n  }\n} catch(e) {\n  forceFull = false;\n}\n\nconst ts = (raw && !esDomingoSync && !forceFull)\n  ? Math.floor(new Date(raw).getTime() / 1000)\n  : 0;\n\nreturn [{\n  json: {\n    last_sync_unix: ts,\n    pg_count:       pgCount,\n    force_full:     forceFull,\n    ts_inicio:      Date.now(),\n    fecha_inicio:   new Date().toISOString()\n  }\n}];\n"
      },
      "id": "a88c812c-5d36-48b4-bf5c-f347145453c9",
      "name": "Code Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [20336, 2880]
    },
    {
      "parameters": {
        "url": "https://api.mailjet.com/v3/REST/contact",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mailjetEmailApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "CountOnly", "value": "1" }]
        },
        "options": {}
      },
      "id": "0812fad4-c965-4cca-b225-3ddb4ae605c0",
      "name": "HTTP Conteo Total Mailjet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [20560, 2976],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mailjetEmailApi": {
          "id": "LTSvuIs0V4F6ScZE",
          "name": "Mailjet - Grupo Vemare"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.mailjet.com/v3/REST/contact",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mailjetEmailApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "CountOnly", "value": "1" },
            { "name": "LastActivityAt", "value": "={{ $json.last_sync_unix }}" }
          ]
        },
        "options": {}
      },
      "id": "0d071462-5c43-48ae-a6e9-b3c01a1a425b",
      "name": "HTTP Conteo Total Delta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [20560, 2784],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mailjetEmailApi": {
          "id": "LTSvuIs0V4F6ScZE",
          "name": "Mailjet - Grupo Vemare"
        }
      }
    },
    {
      "parameters": {},
      "id": "94bae7de-be1a-4d7d-8921-8692741a718c",
      "name": "Merge Combinar Conteos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [20784, 2880]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst ctx   = $('Code Preparar Contexto').first().json;\n\nconst totales      = items.map(i => Number(i.json.Total ?? 0));\nconst deltaTotal   = Math.min(...totales);\nconst mailjetTotal = Math.max(...totales);\n\nconst hayNuevos      = mailjetTotal > ctx.pg_count;\nconst tsEfectivo     = hayNuevos ? 0 : ctx.last_sync_unix;\nconst totalAProcesar = hayNuevos ? mailjetTotal : deltaTotal;\nconst hayCambios     = totalAProcesar > 0;\n\nreturn [{\n  json: {\n    ts_efectivo:      tsEfectivo,\n    hay_cambios:      hayCambios,\n    total_a_procesar: totalAProcesar,\n    hay_nuevos:       hayNuevos,\n    delta_total:      deltaTotal,\n    mailjet_total:    mailjetTotal,\n    pg_count:         ctx.pg_count,\n    ts_inicio:        ctx.ts_inicio,\n    fecha_inicio:     ctx.fecha_inicio\n  }\n}];"
      },
      "id": "8f368742-aa69-4474-bf30-7a00005ae1b0",
      "name": "Code Decidir ts_efectivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [21008, 2880]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "filter-sync-01",
              "leftValue": "={{ $json.total_a_procesar }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "da020347-e898-416b-ba3f-f9b45308e196",
      "name": "[Filter] ¿Hay cambios?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [21232, 2880]
    },
    {
      "parameters": {
        "jsCode": "const total = Number($json.total_a_procesar ?? 0);\nconst limit = 1000;\nconst pages = Math.max(1, Math.ceil(total / limit));\nconst ts_efectivo = $('Code Decidir ts_efectivo').first().json.ts_efectivo;\nreturn Array.from({ length: pages }, (_, i) => ({\n  json: { offset: i * limit, pageLimit: limit, last_sync_unix: ts_efectivo }\n}));"
      },
      "id": "11f4ec1e-ac9c-43a3-9990-40dbe337274f",
      "name": "Code Generar Páginas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [21456, 2880]
    },
    {
      "parameters": {
        "url": "https://api.mailjet.com/v3/REST/contact",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mailjetEmailApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "Limit", "value": "={{ $json.pageLimit }}" },
            { "name": "Offset", "value": "={{ $json.offset }}" },
            { "name": "LastActivityAt", "value": "={{ $json.last_sync_unix }}" }
          ]
        },
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 1500 } }
        }
      },
      "id": "0552256d-c4d5-4f9c-a93c-8d9590c6b273",
      "name": "HTTP GET Contacts Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [21680, 2880],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mailjetEmailApi": {
          "id": "LTSvuIs0V4F6ScZE",
          "name": "Mailjet - Grupo Vemare"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "gc-01", "name": "_contacts", "value": "={{ $json.Data }}", "type": "array" },
            { "id": "gc-02", "name": "_offset", "value": "={{ $('Code Generar Páginas').item.json.offset }}", "type": "number" },
            { "id": "gc-03", "name": "_limit", "value": "={{ $('Code Generar Páginas').item.json.pageLimit }}", "type": "number" }
          ]
        },
        "options": {}
      },
      "id": "d93d2f4b-b9ef-4b77-9824-c31f1c2fa840",
      "name": "Set Guardar Contexto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [21904, 2880]
    },
    {
      "parameters": {
        "url": "https://api.mailjet.com/v3/REST/contactdata",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mailjetEmailApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "Limit", "value": "1000" },
            { "name": "Offset", "value": "={{ $node[\"Code Generar Páginas\"].json.offset }}" }
          ]
        },
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 1500 } }
        }
      },
      "id": "38ca24cc-2249-4b1b-b2f0-41423dc68ff0",
      "name": "HTTP GET ContactData Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [22128, 2880],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mailjetEmailApi": {
          "id": "LTSvuIs0V4F6ScZE",
          "name": "Mailjet - Grupo Vemare"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// runOnceForAllItems (modo por defecto de n8n — NO cambiar).\n// Procesa todas las páginas juntas usando índice para alinear contactos y contactdata.\n// Evita el uso de .item (solo funciona en runOnceForEachItem) y el riesgo OOM por página.\nconst now      = new Date().toISOString();\nconst setItems  = $('Set Guardar Contexto').all();  // N páginas de contactos\nconst dataItems = $input.all();                      // N páginas de contactdata\n\nconst fields = [\"nombre\",\"poblacion\",\"provincia\",\"zona_geografica\",\"zona_comercial\",\n  \"estado\",\"razon_social\",\"centro_reparto\",\"comercial_recambio\",\"comercial_equipamiento\",\n  \"comercial_pincar\",\"comercial_redes\",\"coordinador_recambio\",\"canal\",\"tipo_cliente\",\"red\",\n  \"sub_red\",\"subcanal\",\"division\",\"envio_promociones\",\"tipo_cliente_dto\",\"activo\",\"distribuidor\",\"cif\",\n  \"distribuidor_vemare\",\"distribuidor_transcose\",\"distribuidor_dieseliberia\",\"distribuidor_paher\",\n  \"codigo_isi_vemare\",\"codigo_isi_transcose\",\"codigo_isi_dieseliberia\",\"codigo_isi_paher\"];\n\nconst clasificarTelefono = (raw) => {\n  if (!raw) return { normalizado: '', tipo: 'vacio' };\n  let digits = String(raw).replace(/\\D/g, '');\n  if (digits.startsWith('0034') && digits.length === 13) digits = digits.slice(4);\n  else if (digits.startsWith('34') && digits.length === 11) digits = digits.slice(2);\n  if (digits.length !== 9) return { normalizado: '', tipo: 'invalido' };\n  const inicio = digits[0];\n  if (inicio === '6' || inicio === '7') return { normalizado: '+34' + digits, tipo: 'movil' };\n  if (inicio === '9' || inicio === '8') return { normalizado: '+34' + digits, tipo: 'fijo' };\n  return { normalizado: '', tipo: 'invalido' };\n};\n\nconst result = [];\n\ndataItems.forEach((dataItem, idx) => {\n  const contacts = Array.isArray(setItems[idx]?.json._contacts) ? setItems[idx].json._contacts : [];\n  const dataRows = Array.isArray(dataItem.json.Data) ? dataItem.json.Data : [];\n\n  const propMap = {};\n  for (const row of dataRows) {\n    const props = {};\n    for (const p of (row.Data || [])) props[p.Name] = p.Value;\n    propMap[String(row.ContactID)] = props;\n  }\n\n  for (const c of contacts) {\n    const props = propMap[String(c.ID)] || {};\n    const row = { id: c.ID, email: c.Email, last_sync: now };\n    for (const f of fields) row[f] = props[f] ?? '';\n    const t1 = clasificarTelefono(props.telefono_1);\n    const t2 = clasificarTelefono(props.telefono_2);\n    row.telefono_1      = t1.normalizado;\n    row.telefono_1_tipo = t1.tipo;\n    row.telefono_2      = t2.normalizado;\n    row.telefono_2_tipo = t2.tipo;\n    row.telefono_wa     = t1.tipo === 'movil' ? t1.normalizado\n                        : t2.tipo === 'movil' ? t2.normalizado : '';\n    result.push({ json: row });\n  }\n});\n\nreturn result;"
      },
      "id": "d74eafd5-9015-4c9d-b696-885c87ad4a2e",
      "name": "Code Unir y Normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [22352, 2880]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": { "__rl": true, "mode": "list", "value": "contactos" },
        "table": { "__rl": true, "value": "contactos", "mode": "list", "cachedResultName": "contactos" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_mailjet": "={{ $json.id }}",
            "email": "={{ $json.email }}",
            "last_sync": "={{ $json.last_sync }}",
            "nombre": "={{ $json.nombre }}",
            "poblacion": "={{ $json.poblacion }}",
            "razon_social": "={{ $json.razon_social }}",
            "provincia": "={{ $json.provincia }}",
            "zona_geografica": "={{ $json.zona_geografica }}",
            "zona_comercial": "={{ $json.zona_comercial }}",
            "estado": "={{ $json.estado }}",
            "centro_reparto": "={{ $json.centro_reparto }}",
            "comercial_recambio": "={{ $json.comercial_recambio }}",
            "comercial_equipamiento": "={{ $json.comercial_equipamiento }}",
            "comercial_pincar": "={{ $json.comercial_pincar }}",
            "comercial_redes": "={{ $json.comercial_redes }}",
            "coordinador_recambio": "={{ $json.coordinador_recambio }}",
            "canal": "={{ $json.canal }}",
            "tipo_cliente": "={{ $json.tipo_cliente }}",
            "red": "={{ $json.red }}",
            "sub_red": "={{ $json.sub_red }}",
            "subcanal": "={{ $json.subcanal }}",
            "division": "={{ $json.division }}",
            "envio_promociones": "={{ $json.envio_promociones }}",
            "tipo_cliente_dto": "={{ $json.tipo_cliente_dto }}",
            "activo": "={{ $json.activo }}",
            "distribuidor": "={{ $json.distribuidor }}",
            "cif": "={{ $json.cif }}",
            "telefono_1": "={{ $json.telefono_1 }}",
            "telefono_1_tipo": "={{ $json.telefono_1_tipo }}",
            "telefono_2": "={{ $json.telefono_2 }}",
            "telefono_2_tipo": "={{ $json.telefono_2_tipo }}",
            "telefono_wa": "={{ $json.telefono_wa }}",
            "distribuidor_vemare": "={{ $json.distribuidor_vemare }}",
            "distribuidor_transcose": "={{ $json.distribuidor_transcose }}",
            "distribuidor_dieseliberia": "={{ $json.distribuidor_dieseliberia }}",
            "distribuidor_paher": "={{ $json.distribuidor_paher }}",
            "codigo_isi_vemare": "={{ $json.codigo_isi_vemare }}",
            "codigo_isi_transcose": "={{ $json.codigo_isi_transcose }}",
            "codigo_isi_dieseliberia": "={{ $json.codigo_isi_dieseliberia }}",
            "codigo_isi_paher": "={{ $json.codigo_isi_paher }}"
          },
          "matchingColumns": ["id_mailjet"],
          "schema": [
            { "id": "id_mailjet", "displayName": "id_mailjet", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": false },
            { "id": "email", "displayName": "email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "nombre", "displayName": "nombre", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "razon_social", "displayName": "razon_social", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "poblacion", "displayName": "poblacion", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "provincia", "displayName": "provincia", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "zona_geografica", "displayName": "zona_geografica", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "zona_comercial", "displayName": "zona_comercial", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "estado", "displayName": "estado", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "centro_reparto", "displayName": "centro_reparto", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "comercial_recambio", "displayName": "comercial_recambio", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "comercial_equipamiento", "displayName": "comercial_equipamiento", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "comercial_pincar", "displayName": "comercial_pincar", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "comercial_redes", "displayName": "comercial_redes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "coordinador_recambio", "displayName": "coordinador_recambio", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "canal", "displayName": "canal", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "tipo_cliente", "displayName": "tipo_cliente", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "red", "displayName": "red", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "sub_red", "displayName": "sub_red", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "subcanal", "displayName": "subcanal", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "division", "displayName": "division", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "envio_promociones", "displayName": "envio_promociones", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "tipo_cliente_dto", "displayName": "tipo_cliente_dto", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "activo", "displayName": "activo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "distribuidor", "displayName": "distribuidor", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "cif", "displayName": "cif", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "telefono_1", "displayName": "telefono_1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "telefono_1_tipo", "displayName": "telefono_1_tipo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "telefono_2", "displayName": "telefono_2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "telefono_2_tipo", "displayName": "telefono_2_tipo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "telefono_wa", "displayName": "telefono_wa", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "last_sync", "displayName": "last_sync", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false },
            { "id": "distribuidor_vemare", "displayName": "distribuidor_vemare", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "distribuidor_transcose", "displayName": "distribuidor_transcose", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "distribuidor_dieseliberia", "displayName": "distribuidor_dieseliberia", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "distribuidor_paher", "displayName": "distribuidor_paher", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "codigo_isi_vemare", "displayName": "codigo_isi_vemare", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "codigo_isi_transcose", "displayName": "codigo_isi_transcose", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "codigo_isi_dieseliberia", "displayName": "codigo_isi_dieseliberia", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "codigo_isi_paher", "displayName": "codigo_isi_paher", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-111111111111",
      "name": "Postgres Upsert Contactos (sin listas)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [22576, 2880],
      "credentials": {
        "postgres": {
          "id": "kF6UjQ8hguq0ltLd",
          "name": "Postgres - n8n-whatsapp"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// v13: Guarda los IDs del delta en staticData para que Fase 2 los use\n// sin depender del contexto cross-branch (que se pierde tras Wait 30s).\n// El Postgres Upsert devuelve filas con id_mailjet (PK de la tabla).\nconst sd = $getWorkflowStaticData('global');\nsd.delta_ids = $input.all().map(i => i.json.id_mailjet).filter(Boolean);\nreturn [{ json: { ok: true, total: sd.delta_ids.length } }];"
      },
      "id": "3a17b895-d6cb-483b-9912-a77702dd263f",
      "name": "Collapse → Fase 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [22800, 2880]
    },
    {
      "parameters": { "amount": 30 },
      "id": "35242f8c-0f92-4e0d-949b-ddff43f073c9",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [23024, 2880],
      "webhookId": "c3b80db9-3b02-4900-82c5-98696d11134a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  { "id": "cond-ts-cero", "leftValue": "={{ $('Code Decidir ts_efectivo').first().json.ts_efectivo }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } },
                  { "id": "cond-umbral-volumen", "leftValue": "={{ $('Code Decidir ts_efectivo').first().json.total_a_procesar }}", "rightValue": 500, "operator": { "type": "number", "operation": "gt" } }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "sync_completa"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  { "id": "cond-ts-no-cero", "leftValue": "={{ $('Code Decidir ts_efectivo').first().json.ts_efectivo }}", "rightValue": 0, "operator": { "type": "number", "operation": "notEquals" } },
                  { "id": "cond-umbral-ok", "leftValue": "={{ $('Code Decidir ts_efectivo').first().json.total_a_procesar }}", "rightValue": 500, "operator": { "type": "number", "operation": "lte" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delta"
            }
          ]
        },
        "options": {}
      },
      "id": "55f00a6e-59ea-48c0-b15c-33e70dbc7b90",
      "name": "[Switch] ¿Sync completa Listas?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [23248, 2880]
    },
    {
      "parameters": {
        "url": "https://api.mailjet.com/v3/REST/listrecipient",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mailjetEmailApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "CountOnly", "value": "1" },
            { "name": "IsUnsubscribed", "value": "false" }
          ]
        },
        "options": {}
      },
      "id": "2f2d85a8-a7a4-4978-8811-b732449f382c",
      "name": "HTTP Conteo Listas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [23472, 2688],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mailjetEmailApi": {
          "id": "LTSvuIs0V4F6ScZE",
          "name": "Mailjet - Grupo Vemare"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const total = Number($json.Total ?? 0);\nconst limit = 1000;\nconst pages = Math.max(1, Math.ceil(total / limit));\nreturn Array.from({ length: pages }, (_, i) => ({\n  json: { offset: i * limit, pageLimit: limit }\n}));"
      },
      "id": "ff37b07a-bcea-4e20-ba2a-7d7dcd6bb4ef",
      "name": "Code Generar Páginas Listas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [23696, 2688]
    },
    {
      "parameters": {
        "url": "https://api.mailjet.com/v3/REST/listrecipient",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mailjetEmailApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "Limit", "value": "1000" },
            { "name": "Offset", "value": "={{ $json.offset }}" },
            { "name": "IsUnsubscribed", "value": "false" }
          ]
        },
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 1500 } }
        }
      },
      "id": "6b635304-c13e-48ce-a4c7-2a0bb3e8de0a",
      "name": "HTTP GET ListRecipient Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [23920, 2688],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mailjetEmailApi": {
          "id": "LTSvuIs0V4F6ScZE",
          "name": "Mailjet - Grupo Vemare"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// v13: Lee IDs del delta desde staticData (guardados en Collapse → Fase 2).\n// Emite {id_mailjet, listas_mailjet} — el upsert completo ya se hizo en Fase 1.\nconst sd = $getWorkflowStaticData('global');\nconst deltaIds = new Set((sd.delta_ids || []).map(String));\n\nconst listasMapa = {};\nfor (const item of $input.all()) {\n  for (const row of (item.json.Data || [])) {\n    const cid = String(row.ContactID);\n    if (!deltaIds.has(cid)) continue;\n    const lista = row.ContactsListName || String(row.ListID);\n    if (!listasMapa[cid]) listasMapa[cid] = new Set();\n    listasMapa[cid].add(lista);\n  }\n}\n\nreturn [...deltaIds].map(cid => ({\n  json: {\n    id_mailjet:     Number(cid),\n    listas_mailjet: listasMapa[cid] ? [...listasMapa[cid]].join(',') : ''\n  }\n}));"
      },
      "id": "b777318e-77bb-424e-8491-edc8f14c7bf2",
      "name": "Code Consolidar Listas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [24144, 2688]
    },
    {
      "parameters": {
        "jsCode": "// Extrae los IDs Mailjet del delta de Fase 1.\nconst sd = $getWorkflowStaticData('global');\nreturn (sd.delta_ids || []).map(id => ({\n  json: { idmailjet: id }\n}));"
      },
      "id": "6b934e38-f7c3-4990-8371-656755feed9c",
      "name": "Code IDs Delta para Listas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [23472, 3088]
    },
    {
      "parameters": {
        "url": "=https://api.mailjet.com/v3/REST/contact/{{ $json.idmailjet }}/getcontactslists",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mailjetEmailApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "IsUnsubscribed", "value": "false" }]
        },
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 1500 } }
        }
      },
      "id": "cea87aa6-8c4b-4920-8145-35d19fe9338b",
      "name": "HTTP GET GetContactsLists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [23696, 3088],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mailjetEmailApi": {
          "id": "LTSvuIs0V4F6ScZE",
          "name": "Mailjet - Grupo Vemare"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// v13: Lee IDs desde staticData y emite {id_mailjet, listas_mailjet}.\n// El upsert completo ya se hizo en Fase 1.\nconst sd = $getWorkflowStaticData('global');\nconst deltaIds = $('Code IDs Delta para Listas').all();\n\nreturn $input.all().map((item, idx) => {\n  const id_mailjet = deltaIds[idx]?.json.idmailjet;\n  const listas_mailjet = (item.json.Data ?? [])\n    .map(l => l.Name || String(l.ListID))\n    .join(',');\n  return { json: { id_mailjet: Number(id_mailjet), listas_mailjet } };\n});"
      },
      "id": "10ee3d35-9d19-4360-8a69-42b716ec53db",
      "name": "Code Merge Listas Delta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [23920, 3088]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE contactos.contactos SET listas_mailjet = $1 WHERE id_mailjet = {{ $json.id_mailjet }}",
        "additionalFields": {
          "queryParams": "={{ [$json.listas_mailjet] }}"
        }
      },
      "id": "a2a76633-97fc-4f2b-8b57-6c13bf966ce9",
      "name": "Postgres UPDATE listas_mailjet",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [24368, 2880],
      "credentials": {
        "postgres": {
          "id": "kF6UjQ8hguq0ltLd",
          "name": "Postgres - n8n-whatsapp"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📦 Fase 1: Delta sync de contactos + upsert inmediato\n\n**Code Unir y Normalizar** → modo *Run Once for Each Item* (1 pág por run).\n**Postgres Upsert Contactos (sin listas)** → upserta todos los campos excepto listas_mailjet.\n**Collapse → Fase 2** → modo *Run Once for All Items* · guarda IDs en staticData · emite 1 item.\n\nLimit: 1000 · batchInterval: 1500ms · Retry: 5×5s"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [20096, 3104],
      "id": "97994be7-36e4-4faf-bf87-1b81f7a4f573",
      "name": "Sticky Fase 1"
    },
    {
      "parameters": {
        "content": "## 🔍 Detección de cambios\n**Rama A** — delta por `LastActivityAt`.\n**Rama B** — total Mailjet (detecta nuevos).\n**Code Decidir ts_efectivo**:\n- `mailjet_total > pg_count` → hay nuevos → sync completa\n- `delta_total > 0` → solo actividad → delta\n- Ninguno → Filter corta el flujo."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [20544, 3104],
      "id": "1b1713ee-cc61-43b2-8cda-4cefcb4e7563",
      "name": "Sticky Decidir ts_efectivo"
    },
    {
      "parameters": {
        "content": "## 🗄️ Fase 2: Solo actualiza listas_mailjet\n\nLee IDs del delta desde **staticData** (sin riesgo cross-branch).\n**sync_completa** → paginación `/listrecipient` completa.\n**delta** → `/contact/{id}/getcontactslists` por contacto.\n**Postgres UPDATE listas_mailjet** → solo actualiza esa columna."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [23400, 3280],
      "id": "cc991043-5ddd-48d0-bcf4-072a5abdad17",
      "name": "Sticky Fase 2"
    },
    {
      "parameters": {
        "content": "## ⚙️ Fase 2 — Switch Listas\n\n→ **sync_completa** si:\n  `ts_efectivo = 0` **OR** `total_a_procesar > 500`\n  → Paginación `/listrecipient`\n\n→ **delta** si:\n  `ts_efectivo ≠ 0` **AND** `total_a_procesar ≤ 500`\n  → `/contact/{id}/getcontactslists`\n\n**batchInterval:** 1500ms · **Retry:** 5×5s",
        "height": 230,
        "width": 380,
        "color": 3
      },
      "id": "9229d81c-afa9-4b55-afa6-b4fd3ed72443",
      "name": "Sticky Fase 2 Switch",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [23168, 2384]
    },
    {
      "parameters": {
        "content": "## 🔧 Ejecución Manual\n\nPor defecto hace **sync completa** (force_full=true).\nPara forzar delta: pasa force_full=false en el trigger.\n\nEl cron diario siempre usa delta (sin force_full).\nLos domingos siempre hace sync completa.",
        "height": 180,
        "width": 260,
        "color": 4
      },
      "id": "db44d8ab-3dc5-4448-947b-245b7ad29e7f",
      "name": "Sticky Force Full",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [19792, 2528]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 3 * * *" }]
        }
      },
      "id": "a9f8d385-efd5-40c8-b141-e0f5b115c60f",
      "name": "Cron Diario 3:",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [19888, 2784]
    },
    {
      "parameters": {
        "jsCode": "const tsInicio    = $('Code Preparar Contexto').first().json.ts_inicio;\nconst fechaInicio = $('Code Preparar Contexto').first().json.fecha_inicio;\nconst contactosProcesados = $('Postgres UPDATE listas_mailjet').all().length;\nconst fechaFin   = new Date().toISOString();\nconst duracionMs = Date.now() - tsInicio;\n\nreturn [{\n  json: {\n    fecha_inicio:         fechaInicio,\n    fecha_fin:            fechaFin,\n    duracion_ms:          duracionMs,\n    contactos_procesados: contactosProcesados,\n    estado:               'ok'\n  }\n}];"
      },
      "id": "b369dc19-5029-49ce-aca3-5be58d3588b2",
      "name": "Code Preparar Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [24592, 2880],
      "disabled": true
    },
    {
      "parameters": {
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "value": "sync_log", "mode": "list", "cachedResultName": "sync_log" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_inicio": "={{ $json.fecha_inicio }}",
            "fecha_fin": "={{ $json.fecha_fin }}",
            "duracion_ms": "={{ $json.duracion_ms }}",
            "contactos_procesados": "={{ $json.contactos_procesados }}",
            "estado": "={{ $json.estado }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "fecha_inicio", "displayName": "fecha_inicio", "required": true, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false },
            { "id": "fecha_fin", "displayName": "fecha_fin", "required": true, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false },
            { "id": "duracion_ms", "displayName": "duracion_ms", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": false },
            { "id": "contactos_procesados", "displayName": "contactos_procesados", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": false },
            { "id": "estado", "displayName": "estado", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3884eddc-9d5f-4f81-a2b6-038a7e45da03",
      "name": "Postgres Insert Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [24816, 2880],
      "credentials": {
        "postgres": {
          "id": "kF6UjQ8hguq0ltLd",
          "name": "Postgres - n8n-whatsapp"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 📊 Log de ejecución\n⚠️ Habilitar cuando sync_log esté creada en Postgres."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [24576, 3200],
      "id": "18e98385-203d-490c-bb39-dd79f94803ee",
      "name": "Sticky Log"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [19856, 2976],
      "id": "15ff1698-5747-486f-a144-706a6bacca2d",
      "name": "When clicking 'Execute workflow'"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Diario 3:": {
      "main": [[{ "node": "Postgres GET MAX last_sync", "type": "main", "index": 0 }]]
    },
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Postgres GET MAX last_sync", "type": "main", "index": 0 }]]
    },
    "Postgres GET MAX last_sync": {
      "main": [[{ "node": "Code Preparar Contexto", "type": "main", "index": 0 }]]
    },
    "Code Preparar Contexto": {
      "main": [[
        { "node": "HTTP Conteo Total Delta", "type": "main", "index": 0 },
        { "node": "HTTP Conteo Total Mailjet", "type": "main", "index": 0 }
      ]]
    },
    "HTTP Conteo Total Delta": {
      "main": [[{ "node": "Merge Combinar Conteos", "type": "main", "index": 0 }]]
    },
    "HTTP Conteo Total Mailjet": {
      "main": [[{ "node": "Merge Combinar Conteos", "type": "main", "index": 1 }]]
    },
    "Merge Combinar Conteos": {
      "main": [[{ "node": "Code Decidir ts_efectivo", "type": "main", "index": 0 }]]
    },
    "Code Decidir ts_efectivo": {
      "main": [[{ "node": "[Filter] ¿Hay cambios?", "type": "main", "index": 0 }]]
    },
    "[Filter] ¿Hay cambios?": {
      "main": [[{ "node": "Code Generar Páginas", "type": "main", "index": 0 }]]
    },
    "Code Generar Páginas": {
      "main": [[{ "node": "HTTP GET Contacts Page", "type": "main", "index": 0 }]]
    },
    "HTTP GET Contacts Page": {
      "main": [[{ "node": "Set Guardar Contexto", "type": "main", "index": 0 }]]
    },
    "Set Guardar Contexto": {
      "main": [[{ "node": "HTTP GET ContactData Page", "type": "main", "index": 0 }]]
    },
    "HTTP GET ContactData Page": {
      "main": [[{ "node": "Code Unir y Normalizar", "type": "main", "index": 0 }]]
    },
    "Code Unir y Normalizar": {
      "main": [[{ "node": "Postgres Upsert Contactos (sin listas)", "type": "main", "index": 0 }]]
    },
    "Postgres Upsert Contactos (sin listas)": {
      "main": [[{ "node": "Collapse → Fase 2", "type": "main", "index": 0 }]]
    },
    "Collapse → Fase 2": {
      "main": [[{ "node": "Wait 30s", "type": "main", "index": 0 }]]
    },
    "Wait 30s": {
      "main": [[{ "node": "[Switch] ¿Sync completa Listas?", "type": "main", "index": 0 }]]
    },
    "[Switch] ¿Sync completa Listas?": {
      "main": [
        [{ "node": "HTTP Conteo Listas", "type": "main", "index": 0 }],
        [{ "node": "Code IDs Delta para Listas", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Conteo Listas": {
      "main": [[{ "node": "Code Generar Páginas Listas", "type": "main", "index": 0 }]]
    },
    "Code Generar Páginas Listas": {
      "main": [[{ "node": "HTTP GET ListRecipient Page", "type": "main", "index": 0 }]]
    },
    "HTTP GET ListRecipient Page": {
      "main": [[{ "node": "Code Consolidar Listas", "type": "main", "index": 0 }]]
    },
    "Code Consolidar Listas": {
      "main": [[{ "node": "Postgres UPDATE listas_mailjet", "type": "main", "index": 0 }]]
    },
    "Code IDs Delta para Listas": {
      "main": [[{ "node": "HTTP GET GetContactsLists", "type": "main", "index": 0 }]]
    },
    "HTTP GET GetContactsLists": {
      "main": [[{ "node": "Code Merge Listas Delta", "type": "main", "index": 0 }]]
    },
    "Code Merge Listas Delta": {
      "main": [[{ "node": "Postgres UPDATE listas_mailjet", "type": "main", "index": 0 }]]
    },
    "Postgres UPDATE listas_mailjet": {
      "main": [[{ "node": "Code Preparar Log", "type": "main", "index": 0 }]]
    },
    "Code Preparar Log": {
      "main": [[{ "node": "Postgres Insert Log", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "5f0mXhse1CsD1dLu",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "v13-outbound-whatsapp",
  "meta": {
    "instanceId": "9ede66a3b69f97a3badd83f3b84609d92fc89a18fcd47cc3e9ef268c1817f230"
  },
  "nodeGroups": [],
  "tags": []
}
